body {
    font-size: 16px;
    color: #ffffff;
    background: #61122f;
    font-family: 'Oxygen', sans-serif;
}

#header-nav {
    background-color: #f6b319;
    border-radius: 0px;
    border: 0;
}

#logo-img {
    background: url(../images/headerlogo2.png) no-repeat;
    background-size: contain;
    height: 150px;
    width: 150px;
    margin: 10px 15px 10px 0px;
}

#headerTitle {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
}

#nav-header-content a:hover, #nav-header-content a:focus {
    text-decoration: none;
}

.navbar-brand p span {
    vertical-align: middle
}