.paragraphBlock {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#contentList li{
    padding: 0;
    list-style-type: none;
}

#contentList li:hover {
    font-size: 140%
}

#contentList a:link {
    color: black;
    text-decoration: none;
}

#contentList a:visited {
    color: black;
    text-decoration: none;
}